body {
    background-color: #98ff72;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button {
    background-color: #e3fffe;
}


.results {
    background-color: #2dff99;
    margin: auto;
    padding: 20px;
    border: 1px solid #231a10;
    width: 80%;
}

.close {
    color: #f98d8d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.left {
    width: 400px;
    margin: auto;
    text-align: left;
}
